.page {
  background-color: #2b2b2b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px); /* Subtract navbar height */
  padding: 2rem;
  background-color: var(--primary-color);
}

.description {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-color);
  max-width: 600px;
  line-height: 1.5;
}