.matrixBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: screen;
} 